#who-i-am {
    width: 100%;
    height: fit-content;
    background-color: rgb(217, 230, 233);
    padding-left: 160px;
    padding-right: 85px;
    padding-top: 85px;
    padding-bottom: 85px;

    font-size: 25px;
    letter-spacing: 5px;
    color: rgb(65, 60, 88);
    font-weight: bold;
}

#who-i-am-description {
    margin-top: 20px;
    font-weight: normal;
    letter-spacing: normal;
}