#side-bar {
    height: 330.5vh;
    width: 65px;
    position: absolute;
    top: 0px;
    float: left;
    background-color: rgb(65, 60, 88);
    padding-left: 7.5px;
}

#home {
    margin-top: 50px;
    height: 50px;

    position: fixed;

    transition: all .2s ease-in-out;
}

#home:hover {
    transform: scale(1.2);
}


#pencil {
    height: 40px;
    position: fixed;
    margin-top: 105px;
    margin-left: 6.5px;

    transition: all .2s ease-in-out;
}

#pencil:hover {
    transform: scale(1.2);
}

#tools {
    height: 30px;
    position: fixed;
    margin-left: 9px;
    margin-top: 160px;

    transition: all .2s ease-in-out;
}

#tools:hover {
    transform: scale(1.2);
}

#laptop {
    position: fixed;
    height: 40px;
    margin-top: 200px;
    margin-left: 5px;
    transition: all .2s ease-in-out;
}

#laptop:hover {
    transform: scale(1.2);
}

#person {
    height: 40px;
    position: fixed;

    margin-top: 240px;
    margin-left: -3.5px;

    transition: all .2s ease-in-out;
}

#person:hover {
    transform: scale(1.2);
}