#side-bar {
    height: 354.5vh;
    width: 65px;
    position: absolute;
    top: 0px;
    float: left;
    background-color: rgb(65, 60, 88);
    padding-left: 7.5px;
}

#home {
    margin-top: 50px;
    height: 50px;

    position: fixed;
}

#pencil {
    height: 40px;
    position: fixed;
    margin-top: 105px;
    margin-left: 6.5px;
}

#tools {
    height: 30px;
    position: fixed;
    margin-left: 9px;
    margin-top: 160px;
}

#laptop {
    position: fixed;
    height: 40px;
    margin-top: 200px;
    margin-left: 5px;
}

#person {
    height: 40px;
    position: fixed;

    margin-top: 240px;
    margin-left: -3.5px;
}